body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

form {
    text-align: center;
}

input {
    padding: 1vw;
    border-radius: 5px;
    border: 2px solid black;
}

button {
    padding: 8px 8px 10px 8px;
    background-color: red;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: large;
    border: solid 1px red;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #79AC78;
}

#search-results {
    display: flex;
    flex-wrap: wrap; /* Allows images to wrap to the next line */
    gap: 20px; /* Space between images */
    margin-top: 10vh;
    padding: 10px;
    width: 100%; /* Make sure it uses the full width of its parent */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

#search-results img {
    max-width: 100%; /* Ensures image does not exceed container width */
    height: auto; /* Maintains aspect ratio */
    max-height: 30vh; /* Limits height to 30% of viewport height */
    display: block; /* Ensures images are displayed as block-level elements */
}

#search-results a {
    display: block; /* Ensures the anchor tags are block-level elements */
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

::placeholder {
    color: black;
}

.show-more {
    text-align: center;
    display: none;
}
